<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="OdbcConnection" connectionString="DSN=UKVIR10320;DATABASE=CMA_Consistency" />
    <add name="rootPath" connectionString="C:\Users\rylloyd\Documents\CMA\SQL_output\" />
  </connectionStrings>
</configuration>